[submodule "src/ubiquity_motor_ros2"]
	path = src/ubiquity_motor_ros2
	url = git@github.com:JAndresBP/ubiquity_motor_ros2.git
[submodule "src/YDLidar-SDK"]
	path = src/YDLidar-SDK
	url = git@github.com:JAndresBP/YDLidar-SDK.git
[submodule "src/ydlidar_ros2_driver"]
	path = src/ydlidar_ros2_driver
	url = git@github.com:JAndresBP/ydlidar_ros2_driver.git
	branch = humble
[submodule "src/franka_description"]
	path = src/franka_description
	url = https://github.com/frankarobotics/franka_description.git
[submodule "src/rebotarm_ros2"]
	path = src/rebotarm_ros2
	url = https://github.com/Seeed-Projects/reBotArmController_ROS2.git
